#Site_name
{
    font-size: 30px;
    padding: 15px 15px 20px 30px;
    background-color:rgba(165, 165, 159, 0.993);


}
#links
{
    background-color: #000000;
    padding-bottom:20px
    
}
ul
{
    display: inline;
    
}
li{
    float: left;
    list-style: none;
    padding: 10px;
    text-align:center;
    border: 1px solid rgb(226, 218, 218);
    border-bottom: hidden;
    text-align: center;
}
li:hover
{
    background-color: green;
}
a:link{
    text-decoration: none;
    color: white;   
}
h1{
    color: rgb(4, 45, 122);
    margin-bottom: -15px;
}
#main
{
    overflow: hidden;
    /* display: inline; */
    width: 100%;
    display: flex;
    
}
#desciption
{
    padding: 10px;
}
#content
{
    width:65%;
    float: left;
    padding: 2%;
    
}

h3{
    color: rgb(4, 45, 122);
    margin-bottom: -2px;

}
#sidebar
{
    width:35%;
    float: right;
    padding: 2%;
    background-color:rgba(182, 182, 173, 0.993); 
}
#footer
{
    text-align: right;
    background-color:rgba(165, 165, 159, 0.993);
    /* margin-top: 10px; */
    padding-bottom: 20px;
    padding-right: 30px;
    padding-top: 30px;
   
}

